/* body {
    background-color: rgb(230, 227, 176);
  }
  h1 {
    color: rgb(255, 89, 0);
  }
  p {
    color: #cc2867;
  } 
  style {
    font-family: Georgia, 'Times New Roman', Times, serif;
   } */


  body,h1,h2,h3,p,ul,li{
    margin: 0;
    padding:0%;
  }
  body{
    background-color: rgb(182, 172, 131);
    color:black
  }
  header{
    background-color:#F2C4B8;
    color: black;
   
  }

nav{
  background-color: azure;
  color: black;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
}

section {
  padding: 50px;
}
.project{
  margin-bottom: 30px;
}
footer {
background-color: beige;
color: brown;
text-align: center;
padding:10px;
}








































